<section class="about-info-slideshow" data-module="about-info-slideshow">
  <div class="about-info-slideshow__container container-xl">
    <div class="about-info-slideshow__info">
      <img class="about-info-slideshow__image"
        src="{{ 'InnovationIcon.svg' | asset_url }}"
        alt="Light Bulb" />
      <h2 class="about-info-slideshow__headline">
        40 Years of Innovation
      </h2>
      <p class="about-info-slideshow__description">
        From day one, we've been developing innovative technology and products that promote healthy lifestyles of our customers by helping them effectively integrate nutritious, whole foods into their diet.
      </p>
    </div>
    <div class="about-info-slideshow__slideshow">
      <ul class="about-info-slideshow__list js-carousel">
        <li class="about-info-slideshow__item">
          <img class="about-info-slideshow__image-product"
            src="{{ '40-Innovation-Slide1.jpg' | asset_url }}"
            alt="Hurom HP Slow Juicer" />
        </li>
        <li class="about-info-slideshow__item">
          <img class="about-info-slideshow__image-product"
            src="{{ '40-Innovation-Slide2.jpg' | asset_url }}"
            alt="Hurom HH Elite Slow Juicer" />
        </li>
        <li class="about-info-slideshow__item">
          <img class="about-info-slideshow__image-product"
            src="{{ '40-Innovation-Slide3.jpg' | asset_url }}"
            alt="Hurom H-AA Slow Juicer" />
        </li>
      </ul>
    </div>
  </div>
</section>
