{%- assign mod_image_1_src = mod_image_1_src | default: blank -%}
{%- assign mod_title_1 = mod_title_1 | default: blank -%}
{%- assign mod_text_1 = mod_text_1 | default: blank -%}
{%- assign mod_url_1 = mod_url_1 | default: blank -%}
{%- assign mod_image_2_src = mod_image_2_src | default: blank -%}
{%- assign mod_title_2 = mod_title_2 | default: blank -%}
{%- assign mod_text_2 = mod_text_2 | default: blank -%}
{%- assign mod_url_2 = mod_url_2 | default: blank -%}

{%- if mod_image_1_src != blank or mod_image_2_src != blank -%}
  <section class="banner-two-up">
    <div class="banner-two-up__container container-sp">
      <div class="banner-two-up__content">
        {%- if mod_image_1_src != blank -%}
          {%- include 'banner-card',
            mod_class: 'banner-two-up__card'
            mod_image_src: mod_image_1_src,
            mod_title: mod_title_1,
            mod_text: mod_text_1,
            mod_url: mod_url_1 -%}
        {%- endif -%}

        {%- if mod_image_2_src != blank -%}
          {%- include 'banner-card',
            mod_class: 'banner-two-up__card',
            mod_image_src: mod_image_2_src,
            mod_title: mod_title_2,
            mod_text: mod_text_2,
            mod_url: mod_url_2 -%}
        {%- endif -%}
      </div>
    </div>
  </section>
{%- endif -%}

{%- assign mod_image_1_src = nil -%}
{%- assign mod_title_1 = nil -%}
{%- assign mod_text_1 = nil -%}
{%- assign mod_url_1 = nil -%}
{%- assign mod_image_2_src = nil -%}
{%- assign mod_title_2 = nil -%}
{%- assign mod_text_2 = nil -%}
{%- assign mod_url_2 = nil -%}
