<header class="hol-header">
	<div class="container">
		<a class="hol-shop" href="/" title="Shop Hurom">
			Shop <span class="show-mobile">Hurom</span>
		</a>
		<a class="hol-logo {% if template contains 'email' %}is-black{% endif %}" href="/pages/hurom-holidays-intro" title="Hurom">
			{% include 'ico-holidays', icon: 'logo' %}
			<span class="hidden">Hurom</span>
		</a>
		{% unless template contains 'landing' or template contains 'email' %}
			<a class="hol-menu js-menu" href="/pages/hurom-holidays" title="Back to Menu">
				{% include 'ico-holidays', icon: 'accordion' %}
				<span class="hidden">Back to Menu</span>
			</a>
		{% endunless %}
	</div>
</header>
