<!-- /snippets/modules/landing-three-up-intro.liquid -->

<section class="three-up-intro">
    <div class="container three-up-intro__container">
        <figure class="three-up-intro__image" style="background-image:url({{ 'sur-la-cook-cleaner.jpg' | asset_url }})"></figure>
        <div class="three-up-intro__content">
            <div class="three-up-intro__content-inner">
                <h2 class="three-up-intro__headline">Cook Cleaner with Hurom</h2>
                <div class="three-up-intro__list">
                    <div class="three-up-intro__item">
                        <div class="three-up-intro__icon">
                            <svg width="55px" height="47px" viewBox="0 0 55 47">
                                <use xlink:href="#ico-nutritious"></use>
                            </svg>
                        </div>
                        <div class="three-up-intro__item-content">
                            <h3 class="three-up-intro__title">Nutritious</h3>
                            <p class="three-up-intro__description">Retains it's natural color and more vitamins with gentle, heatless squeezing</p>
                        </div>
                    </div>
                    <div class="three-up-intro__item">
                        <div class="three-up-intro__icon">
                            <svg width="47px" height="43px" viewBox="0 0 47 43">
                                <use xlink:href="#ico-taste"></use>
                            </svg>
                        </div>
                        <div class="three-up-intro__item-content">
                            <h3 class="three-up-intro__title">Taste & Pulp Control</h3>
                            <p class="three-up-intro__description">Comes with strainers and a control lever so you can customize your juice</p>
                        </div>
                    </div>
                    <div class="three-up-intro__item">
                        <div class="three-up-intro__icon">
                            <svg width="70px" height="61px" viewBox="0 0 70 61">
                                <use xlink:href="#ico-versatile"></use>
                            </svg>
                        </div>
                        <div class="three-up-intro__item-content">
                            <h3 class="three-up-intro__title">Versatile</h3>
                            <p class="three-up-intro__description">Make sweet & savory juices out of fruits, veggies, nuts, herbs, and seeds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
