{%- assign fields = fields | default: nil -%}
{%- assign link_list = linklists[fields.collections_menu] | default: nil -%}

{%- capture grid_items -%}
  {%- for link in link_list.links -%}
    {%- assign collection = link.object -%}
    {%- assign featured_image_src = collection.metafields.accentuate.featured_image[0].cloudinary_src | append: 'w_450' -%}

    {%- capture link_click_handler -%}
      handleCollectionClick('{{- collection.handle }}', $event)
    {%- endcapture -%}

    {%- if forloop.index == 3 -%}
      {%- render 'plp-parts-callout',
        icon: fields.callout_1_icon,
        title: fields.callout_1_title,
        description: fields.callout_1_description,
        class: 'plp-parts-grid__item plp-parts-grid__item--callout'
      -%}
    {%- else -%}
      {%- render 'plp-parts-product-card',
        featured_image_src: featured_image_src,
        title: collection.title,
        url: collection.url,
        attributes: attributes,
        link_click_handler: link_click_handler,
        class: 'plp-parts-grid__item'
      -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

<div
  v-if="!collectionProducts.length && !products.length"
  class="plp-parts-collection-list"
>
  {%- render 'plp-parts-grid',
    grid_items: grid_items
  -%}
</div>
