{%- assign mod_title = mod_title | default: 'products.product.fit_these_models' | t -%}
{%- assign product_handles = product_handles | default: blank -%}
{%- assign mod_class = mod_class | default: blank -%}

{%- capture mod_css -%}
  product-three-up {{- mod_class -}}
{%- endcapture -%}

{%- assign mod_handles_list = product_handles | split: ',' -%}

{%- if product_handles != blank -%}
  <div class="{{- mod_css | strip -}}" data-module="product-three-up">
    <div class="product-three-up__container container-sp">
      {%- if mod_title != blank -%}
        <h2 class="align-c product-three-up__title">
          {{- mod_title -}}
        </h2>
      {%- endif -%}

      <div class="product-three-up__items js-slider">
        {%- for handle in mod_handles_list -%}
          {%- assign product = all_products[handle] -%}
          {% assign image = product.featured_image.src | img_url: 'large' %}

          {%- render 'plp-parts-product-card',
            featured_image_src: image,
            title: product.title,
            url: product.url,
            class: 'plp-parts-product-card--pdp-three-up'
          -%}

          {%- assign product = nil -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}
