/***
@stylesheet:	browse-all
@project:		hurom theme
@version:		1.0
@groups:		* browse all
@target:		snippets/modules/browse-all.liquid
***/


/* Browse All
------------------------------------------------------------ */
.browse-all__container {
	padding: 20px 0;
	text-align: center;
    @media (--xs) {
        padding: 30px 0;
    }
}
.browse-all--collection {
	margin: 0;
}
.browse-all__container--collection {
	padding: 0;
}
