.seasons-item {
	@add-mixin ratio 1, 1;
	flex: 0 1 auto;
	margin-top: 20px;
	padding: 20px;
	width: 100%;

	@media (--xs) {
		margin-top: 20px;
		width: calc( 50% - 10px );
	}

	@media (--s) {
		margin-top: 60px;
		width: calc( 50% - 30px );
	}

	&.is-default {
		background-color: var(--light-grey);
	}

	&.is-autumn {
		background-color: #FFF7F0;
	}

	&.is-winter {
		background-color: #EDF8FE;
	}

	&.is-spring {
		background-color: #F5FFDC;
	}

	&.is-summer {
		background-color: #FFF2D2;
	}

	&:nth-child( 2n ) {
		@media (--xs) {
			margin-left: 20px;
		}

		@media (--s) {
			margin-left: 60px;
		}
	}
}
.seasons-item__container {
	align-content: center;
	align-items: center;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	left: 0;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;

	@media (--xs) {
		padding: 30px;
	}

	@media (--s) {
		padding: 25px;
	}

	@media (--l) {
		padding: 70px;
	}

	&:before,
	&:after {
		background-size: 100% auto;
		background-repeat: no-repeat;
		content: '';
		height: 40%;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 0;
	}

	&:before {
		background-position: 0 0;
		top: 0;
	}

	&:after {
		background-position: 0 calc( 100% + 20px );
		bottom: 0;

		@media (--xxs) {
			background-position: 0 100%;
		}

		@media (--xs) {
			background-position: 0 calc( 100% + 40px );
		}

		@media (--s) {
			background-position: 0 calc( 100% + 20px );
		}

		@media (--l) {
			background-position: 0 100%;
		}
	}
}
.seasons-item__wrapper {
	max-width: 315px;
	width: 100%;
	z-index: 9;
}
.seasons-item__title {
	margin-bottom: 10px;
}
.seasons-item__description {
	margin-bottom: 20px;
}
.seasons-item__link {
	display: block;

	@media (--xxs) {
		display: inline-block;
	}

	@media (--xs) {
		display: block;
	}

	@media (--l) {
		display: inline-block;
	}

	&:first-child {
		margin-bottom: 5px;

		@media (--xxs) {
			margin-bottom: 0;
			margin-right: 15px;
		}

		@media (--xs) {
			margin-bottom: 5px;
			margin-right: 0;
		}

		@media (--l) {
			margin-bottom: 0;
			margin-right: 15px;
		}
	}
}
