<!-- /templates/snippets/facebook-convo.liquid -->

<section class="facebook-convo section">
    <div class="__container container-ml">
    	<div class="facebook-convo__title">
    		<h2 class="__head h1">Facebook Conversations</h2>
    	</div>
    	<div class="facebook-convo__content">
			<div class="__box fb-comments" data-href="https://www.hurom.com/pages/recipes" data-numposts="5" data-width="600"></div>
    	</div>
    </div>
</section>