{%- assign fields = section.settings -%}

<div class="plp-parts-main container container-xl" data-module="plp-parts-main" data-product-models="{{- fields.models -}}">
  {%- render 'plp-parts-navigation' -%}

  {%- render 'plp-parts-header',
    title: fields.title,
    description: fields.description
  -%}

  {%- render 'plp-parts-dropdown' -%}

  {%- render 'plp-parts-back-link' -%}

  {%- render 'plp-parts-title'
    title: 'Or Browse by Collection'
  -%}

  {%- render 'plp-parts-collection-list',
    fields: fields
  -%}

  {%- render 'plp-parts-product-list' -%}

  {%- render 'plp-parts-result-list',
    fields: fields
  -%}
</div>
