<!-- /snippets/modules/landing-three-up-grid.liquid -->

{% if blogs.recipes.articles %}
    <section class="three-up-grid" data-module="landing-three-up-grid" data-count="0">
        <div class="container three-up-grid__container">
            <h2 class="three-up-grid__headline">More Kitchen Favorites</h2>
            <div class="three-up-grid__list">
                {% for article in blogs.recipes.articles %}
                    {% unless article.metafields.accentuate.hide_on_sur_la_table %}
                        <div class="three-up-grid__item">
                            <div class="three-up-grid__item-inner">
                                <a class="three-up-grid__link" href="#" data-dialog="article-{{ article.id }}" data-module="modal">
                                    {% if article.image %}
                                        <div class="three-up-grid__thumbnail">
                                            <figure class="three-up-grid__image" style="background-image: url({{ article | img_url: 'grande' }})"></figure>
                                        </div>
                                    {% endif %}
                                    <div class="three-up-grid__content">
                                        <h3 class="three-up-grid__title">{{ article.title }}</h3>

                                        {% assign tags = article.tags %}
                                        {% include 'recipe-get-time' %}

                                        {% if recipe_time %}
                                            <div class="three-up-grid__tag">
                                                <div class="three-up-grid__icon">
                                                    <svg width="16px" height="16px" viewBox="0 0 16 16">
                                                        <use xlink:href="#ico-clock"></use>
                                                    </svg>
                                                </div>
                                                <span>{{ recipe_time }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endunless %}
                {% endfor %}
            </div>
            <div class="three-up-grid__loadmore">
                <span class="btn-s three-up-grid__button">Load More Recipes</span>
            </div>
            <div class="three-up-grid__footer">
                <a class="btn button-primary three-up-grid__footer-button" title="Juice Recipes" href="/pages/healthy-tasty-juice-recipes">Juice Recipes</a>
            </div>
        </div>
    </section>
    {% for article in blogs.recipes.articles %}
        {% unless article.metafields.accentuate.hide_on_sur_la_table %}
            {% unless exclude contains article.handle %}
                {% assign id = article.id %}
                {% assign title = article.title %}
                {% assign tags = article.tags %}
                {% assign image = article.image %}
                {% assign content = article.content %}
                {% include 'dialog-article' %}
            {% endunless %}
        {% endunless %}
    {% endfor %}
{% endif %}
