<section class="block-newsletter">
  <i class="__background is-bottom-right"></i>
  <i class="__background is-bottom-left"></i>
  <div class="block-newsletter__container container-s custom-newsletter-om">
    {% case settings['country'] %}
      {% when 'US' %}
        <div id="om-xgbpmot9qe7n6nkc-holder"></div>
      {% when 'CA' %}
        <div id="om-waxjji9jhgoqipyrxdtn-holder"></div>
    {% endcase %}
  </div>
</section>
