<!-- /snippets/modules/collection-grid.liquid -->

<div class="collection-grid">
	{% assign delay = 0 %}
	{% for link in linklists.collection-list.links %}
  		{% if link.url contains 'collection' %}
          	{% assign collection = link.object %}
          	{% unless collection.handle == 'frontpage' %}
            	{% include 'collection-item' %}
          	{% endunless %}
          	{% assign delay = delay | plus: 0.25 %}
 		{% endif %}
	{% endfor %}
</div>
