{%- assign fields = fields | default: nil -%}

{%- capture grid_items -%}
  <template
    v-for="(product, index) in products"
  >
    {%- render 'plp-parts-product-card',
      attributes: '
        :key="product.node.id"
      ',
      featured_image_src: 'product.node.images.edges[0].node.transformedSrc',
      title: 'product.node.title',
      url: 'product.node.onlineStoreUrl',
      handle: 'product.node.handle',
      variants: 'product.node.variants.edges',
      options: 'product.node.options',
      is_vue: true,
      class: 'plp-parts-grid__item'
    -%}
    {%- render 'plp-parts-callout',
      attributes: '
        v-if="index === 1"
      ',
      icon: fields.callout_2_icon,
      title: fields.callout_2_title,
      description: fields.callout_2_description,
      class: 'plp-parts-grid__item plp-parts-grid__item--callout'
    -%}
  </template>
{%- endcapture -%}

<div
  v-if="products.length"
  class="plp-parts-result-list"
>
  {%- render 'plp-parts-grid',
    grid_items: grid_items
  -%}
</div>
