<!-- /templates/page.facebook-holiday.liquid -->

<div class="index page facebook-holiday" data-module="lazy-load">
    <section class="page-hero update-responsive theme-product is-left relative">
        <div class="page-hero__background-img" style="background-image: url({{ 'facebook-holiday-banner.jpg' | file_url }})"></div>
		<div class="page-hero__container is-white is-left container-xl">
			<div class="page-hero__title is-left">
			    <h1 class="__head">This holiday season, give the gift of juice</h1>
                <p class="__lead">Hurom has over 40 years of experience in juicer design and innovation, with over 1+ million juicers sold globally. See why Hurom juicers are the perfect holiday gift for your friends and family.</p>
			</div>
		</div>
	</section>

    {% include 'block-difference' %}

    {% include 'block-quality' %}

    <section class="block-critics">
        <div class="block-critics__container container-xl">
            <div class="block-critics__holder">
                <h2 class="__head">What Critics & Customers Are Saying</h2>
                <p class="__description">"If you don’t have much experience with juicers, you might think that they’re all the same: You put in some fruit, and out comes juice. But we recently had the opportunity to sample the H-AA, Hurom’s flagship model, and if you’re in the market for a high-end juicer, this one is a game-changer.</p>
                <a class="__critics" href="#">The Daily Meal"</a>
            </div>

            <hr data-view="expand-wide">

            <div class="block-critics__holder">
                <ul class="__review">
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                    <li class="__star"></li>
                </ul>
                <p class="__description">"I LOVE this juicer! It’s so easy to operate and clean that I use it EVERYDAY… sometimes 2 or 3 times a day. I’ve saved so much money (no longer buying juice from stores) and really enjoy making my own recipes. I even travel with my Hurom Juicer when visiting friends and family so I can turn them onto juicing. Crazy, but that’s how much I love it :)"</p>
                <span class="__customer" href="#">Catherine B.</span>
            </div>
        </div>
    </section>

    <section class="featured-home featured-holidays">
    	<div class="featured-home__container container-ml">
    		<h2 class="featured-home__head">Featured Juicers</h2>
            {% include 'index-featured-holidays' %}
        <a class="block-juicers__link btn-s" href="/pages/compare-hurom-juicers" alt="See and Compare All Our Juicers" onClick="ga('send', 'event', 'Custom Landing Page', 'Clicked Clicked Compare Juicers CTA', 'Referrer: {{ page_title }}')">See and Compare All Our Juicers</a>
      </div>
    </section>

		<section class="page-hero theme-product is-left relative">
      <div class="page-hero__background-img" style="background-image: url({{ 'holidays-email-featured.jpg' | asset_img_url: 'master', format: 'pjpg' }})"></div>
			<div class="page-hero__container is-left container-xl">
				<div class="page-hero__title is-left">
					<h1 class="__head">Explore Our Guide to the Holidays</h1>
					<p class="__lead">We know it’s the holiday season because the colors change along with the weather. Inspired by these holiday colors, we’ve curated some festive recipes and activities for you to enjoy with your friends and family.</p>
          <a href="https://www.hurom.com/pages/hurom-holidays" class="btn-s">Explore Now</a>
				</div>
			</div>
		</section>

    <section class="block-instagram">
        <div class="block-instagram__container container-xl">
            <div class="block-instagram__title fx-2">
                <h2 class="__head">Follow Us on Instagram</h2>
                <a class="__link link-s" href="https://www.instagram.com/huromamerica/" alt="@huromamerica" target="_blank">@huromamerica</a>
            </div>
            <div class="block-instagram__featured fx-2">
                <img class="__img" src="{{ 'facebook-instagram.jpg' | asset_url }}" alt="Juice made by Hurom slow juicer" title="Juice by Hurom">
            </div>
        </div>
    </section>
</div>
