<!-- /templates/page.about.liquid -->
<div class="about">

    {% include 'page-hero-intro' %}

    {% include 'about-info-slideshow' %}

    <hr>

    {% include 'timeline' %}

    <hr>

    {% include 'about-two-up' %}

    <hr>

    {% include 'about-single' %}

    <hr>

    {% section 'home-featured' %}

    <hr class="hr--clear">
</div>
