<!-- /templates/page.recipe.liquid -->

{% assign recipe_pinterest = 'share-pinterest-recipes.jpg'
	| asset_url
	| prepend: 'https://pinterest.com/pin/create/button/?media='
	| append: '&description=' %}

<div class="recipe page">
	{% include 'sticky-share',
		share_facebook: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.hurom.com/pages/hurom-best-juice-recipes',
		share_twitter: 'https://twitter.com/home?status=From%20fighting%20fatigue,%20to%20detoxifying,%20to%20strengthening%20your%20immune%20system,%20juice%20recipes%20for%20every%20occasion!%20http%3A//tinyurl.com/z9y9sz8',
		share_pinterest: recipe_pinterest,
		share_email: 'mailto:?&subject=Hurom Best Juice Recipes&body=From%20fighting%20fatigue,%20to%20detoxifying,%20to%20strengthening%20your%20immune%20system,%20we%20have%20juice%20recipes%20for%20every%20occasion!',
		ga_category: 'Recipe Landing Page',
		ga_referrer: 'Juice Recipes' %}

	{% include 'recipe-hero' %}

	{% include 'recipe-carousel', data: 'rejuvenate' %}

  <hr>

	{% include 'recipe-carousel', data: 'detox' %}

	{% include 'recipe-newsletter' %}

	{% include 'recipe-carousel', data: 'low-calorie' %}

  <hr>

	{% include 'recipe-carousel', data: 'adventurous', size: 'big' %}

  <hr>

	{% include 'recipe-carousel', data: 'immunity', size: 'big' %}

	{% include 'facebook-convo' %}

	{% section 'recipe-cta' %}
</div>

{% assign recipe_pinterest = false %}
