{% layout 'theme.holidays' %}

<section class="hol-email">
	<div class="hol-email__container container-xl">
		<div class="hol-email__holder">
			<h2 class="h3 hfancy is-gold mg-10">Explore Our</h2>
			<h3 class="h1 mg-20">Hurom Guide to the Holidays</h3>
			<p class="p1 mg-30">We know it’s the holiday season because the colors change. Leaves turn russet brown, pumpkins appear on doorsteps and in lattes and pies, fresh snow transforms streets and lawns into a carpet of glistening white. These colors make the holidays feel like the holidays. This year, we’ll celebrate the season by celebrating its colors. Join us. </p>
			<a class="btn-1 is-black w-150" href="/pages/hurom-holidays" title="Explore">Explore</a>
		</div>
	</div>
	<div class="hol-email__featured js-lazy trans-right" data-src="{{ 'holidays-email-featured.jpg' | asset_img_url: '1000x', format: 'pjpg' }}"></div>
</section>