<div class="friendbuy-ebh-p7a"></div>
<script>
  if (Shopify.Checkout.step === 'thank_you') {
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['widget', "ebh-p7a"]);
  }
</script>
