{% assign featured = color | prepend: 'holidays-main-featured-' | append: '.jpg' %}

{% case color %}
	{% when 'orange' %}
		{% assign number = '1' %}
		{% assign url = '/pages/hurom-holidays-pumpkin-orange' %}
	{% when 'blue' %}
		{% assign number = '2' %}
		{% assign url = '/pages/hurom-holidays-frosted-midnight-blue' %}
	{% when 'green' %}
		{% assign number = '3' %}
		{% assign url = '/pages/hurom-holidays-forest-green' %}
	{% when 'red' %}
		{% assign number = '4' %}
		{% assign url = '/pages/hurom-holidays-bright-berry-red' %}
	{% when 'gold' %}
		{% assign number = '5' %}
		{% assign url = '/pages/hurom-holidays-glimmering-gold' %}
	{% when 'white' %}
		{% assign number = '6' %}
		{% assign url = '/pages/hurom-holidays-fresh-winter-white' %}
{% endcase %}

<a class="hol-next section-l js-lazy" href="{{ url }}" title="Keep Exploring" data-src="{{ featured | asset_img_url: 'x800', format: 'pjpg' }}">
	<div class="container-l">
		<div class="hol-next__holder">
			<h2 class="h5 text-center is-white mg-70">Keep Exploring</h2>
			<span class="hol-next__number">0{{ number }}</span>
		</div>
	</div>
</a>

{% assign featured = false %}
{% assign number = false %}
{% assign url = false %}
