%quiz-header__link {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  display: flex;
  align-items: center;

  svg {
    display: inline-block;
    color: var(--green);
    vertical-align: middle;
    margin-right: 6px;
  }
}

.quiz-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.quiz-header__logo {
  @extend .main-logo;
}

.quiz-header__back-link {
  @extend %quiz-header__link;
  left: 0;

  svg {
    width: 7px;
    height: 12px;
  }
}

.quiz-header__retake-link {
  @extend %quiz-header__link;
  right: 0;

  svg {
    width: 12px;
    height: 12px;
  }
}
