<select
  class="plp-parts-dropdown dropdown dropdown--triangle"
  v-if="!products.length"
  :key="generateKey('dropdown') || productModels.length"
  :value="modelHandle"
  @change="handleDropdownChange"
>
  <option value="" disabled>Select Your Model</option>
  <template v-if="collectionProducts.length">
    <option
      v-for="product in collectionProducts"
      :key="product.node.id"
      :value="product.node.handle"
    >
      ${product.node.title}
    </option>
  </template>
  <template v-else>
    <option
      v-for="product in productModels"
      :key="product.node.id"
      :value="product.node.handle"
    >
      ${product.node.title}
    </option>
  </template>
</select>
