<!-- /snippets/modules/product-description.liquid -->

<section id="product-description" class="product-description">
    <div class="product-description__container container-l">
        <div class="product-overview">
            {% include 'product-description-tabs' %}
        </div>
        <div class="product-more">
            {% if product.type contains 'Juicer' %}
                <div class="product-why-hurom frame-white">
                    <h3 class="product-why-hurom__head">Why Hurom?</h3>
                    <ul class="product-why-hurom__list">
                        <li class="product-why-hurom__item">
                            <i class="product-why-hurom__icon icon">
                              {%- include 'icon' with 'icon-juice' -%}
                            </i>
                            <h5 class="product-why-hurom__lead">Maximum Juice Yield</h5>
                            <p class=product-why-hurom__content>Higher yield, we strive to squeeze every drop.</p>
                        </li>
                        <li class="product-why-hurom__item">
                            <i class="product-why-hurom__icon icon">
                              {%- include 'icon' with 'icon-fruits' -%}
                            </i>
                            <h5 class="product-why-hurom__lead">More Nutrients, Minimal Oxidation</h5>
                            <p class=product-why-hurom__content>Our patented slow squeeze auger ensures that no taste or nutrition is lost.</p>
                        </li>
                        <li class="product-why-hurom__item">
                            <i class="product-why-hurom__icon icon">
                              {%- include 'icon' with 'icon-clean' -%}
                            </i>
                            <h5 class="product-why-hurom__lead">Easy Clean Up</h5>
                            <p class=product-why-hurom__content>Our technology has been designed to be extraordinarily easy to assemble and clean.</p>
                        </li>
                        <li class="product-why-hurom__item">
                            <i class="product-why-hurom__icon icon">
                              {%- include 'icon' with 'icon-sound' -%}
                            </i>
                            <h5 class="product-why-hurom__lead">Ultra-quiet Motor</h5>
                            <p class=product-why-hurom__content>Our ultra-quiet motor does more work with less noise.</p>
                        </li>
                    </ul>
                    <a class="product-why-hurom__link link-s" href="/pages/why-hurom" onClick="ga('send', 'event', 'Product Page CTAs', 'Click: Sidebar - Why Hurom', 'Referrer: {{ page_title }}')">Learn more</a>
                </div>
                <div class="product-compare">
                    <div class="product-compare__holder">
                        <h5 class="product-compare__head">See How Other Models Compare</h5>
                        <a class="product-compare__link link-s" href="/pages/compare-hurom-juicers" onClick="ga('send', 'event', 'Product Page CTAs', 'Click: Sidebar - Compare Juicers', 'Referrer: {{ page_title }}')">Compare Hurom Juicers</a>
                    </div>
                </div>
            {% else %}
                <div class="product-best frame-white">
                    <div class="product-best__holder">
                        <h3 class="product-best__head">Make the best juice at home with Hurom.</h3>
                        <a class="product-best__link link-s" href="/pages/why-hurom" onClick="ga('send', 'event', 'Product Page CTAs', 'Click: Sidebar - Why Hurom', 'Referrer: {{ page_title }}')">Learn More</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
