<div class="hide">
  <!-- logo-name -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1090 197.4" enable-background="new 0 0 1090 197.4" xml:space="preserve">
    <g id="logo-name">
      <path d="M561.5,10h-26.7c-85.2,0.8-81,53-81.1,54.5l-0.1,108.4c0,8.9,6.7,16.2,14.9,16.2h12.8c8.2,0,14.9-7.3,14.9-16.2V70
      c3-17.2,23.2-19.2,23.2-19.2h46.3c0,0,11.9-0.9,11.9-20S561.5,10,561.5,10" />
      <path d="M687.4,8c-53.9,0-97.5,7.3-97.5,61.2v58.7c0,53.9,43.7,61.2,97.5,61.2s97.6-7.3,97.6-61.2V69.2C785,15.3,741.3,8,687.4,8
       M742.4,117.1c0,30-24.6,32.1-55,32.1s-55-2-55-32.1V79.9c0-30,24.6-32.1,55-32.1s55,2.1,55,32.1V117.1z" />
      <path d="M274.1,26.1c0-8.9-6.6-16.1-14.8-16.1h-12.8c-8.3,0-14.9,7.2-14.9,16.2v108.6l0.3-0.4c3.4,48,45.6,54.7,97.3,54.7
      c53.9,0,97.5-7.3,97.5-61.2V52.3l0,0V26.1c0-8.9-6.6-16.2-14.9-16.2H399c-8.2,0-14.9,7.2-14.9,16.2v90.6
      c-0.8,28.7-25.1,32.5-54.9,32.5c-30.4,0-55-3.9-55-33.9L274.1,26.1L274.1,26.1z" />
      <path d="M888.3,8.2c-53.9,0-78.6,14.9-78.6,68.8v95.7c0,8.9,6.6,16.1,14.8,16.1h12.8c8.2,0,15-7.2,15-16.1V86.3
      c0.8-28.6,6.1-38.2,36-38.2s35.2,9.5,36,38.2v86.4c0,8.9,6.7,16.1,14.9,16.1H952c8.2,0,14.9-7.2,14.9-16.1V77
      C966.9,23.1,942.1,8.2,888.3,8.2" />
      <path d="M1003,8.2c-53.9,0-78.6,14.9-78.6,68.8v95.7c0,8.9,6.7,16.1,14.9,16.1H952c8.2,0,14.9-7.2,14.9-16.1V86.3
      c0.8-28.6,6.1-38.2,36-38.2s35.2,9.5,36,38.2v86.4c0,8.9,6.7,16.1,14.9,16.1h12.8c8.3,0,14.9-7.2,14.9-16.1V77
      C1081.5,23.1,1056.8,8.2,1003,8.2" />
      <path d="M188.6,10h-12.8c-7.9,0-14.2,6.6-14.9,14.8c0,0.6-0.1,1.1-0.1,1.7v46.3c-48.6-7.9-83.5-4.1-109.8,0.4l0,0V26.6
      c0-8.9-6.6-16.2-14.9-16.2H23.4c-8.2,0-14.9,7.3-14.9,16.2v146.8c0,8.9,6.7,16.1,14.9,16.1h12.8c8.3,0,14.9-7.2,14.9-16.1v-57.7v0.1
      c26.3-4.5,61.1-8.3,109.8-0.4v58c0,8.9,6.7,16.1,14.9,16.1h12.8c8.2,0,14.9-7.2,14.9-16.1V26.1C203.5,17.2,196.8,10,188.6,10" />
    </g>
  </svg>
</div>
