{%- assign disable = disable | default: false -%}
{%- assign title = title | default: blank -%}
{%- assign optinmonster_id = optinmonster_id | default: blank -%}

{%- unless disable -%}
  <section class="custom-newsletter-bar custom-newsletter-om">
    <div class="container-m">
      {%- if text != blank -%}
        <p class="custom-newsletter-bar__text p1">{{- text -}}</p>
      {%- endif -%}

      {%- if optinmonster_id and optinmonster_id != blank -%}
        <div class="custom-newsletter-bar__wrapper custom-newsletter-om">
          <div id="om-{{- optinmonster_id -}}-holder"></div>
        </div>
      {%- endif -%}
    </div>
  </section>
{%- endunless -%}

{%- assign disable = nil -%}
{%- assign title = nil -%}
{%- assign optinmonster_id = nil -%}
