<!-- /snippets/modules/product-grid.liquid -->

{% assign delay = 0 %}
{% assign size = collection.products.size %}

<div class="product-grid">
  {% for product in collection.products %}
    {% include 'product-item' %}
    {% assign delay = delay | plus: 0.25 %}
    {% comment %}
      {% if forloop.index == 3 or forloop.last and forloop.index < 4 %}
  		  {% include 'futurepay-item' %}
      {% endif %}
    {% endcomment %}
  {% endfor %}
</div>

{% assign delay = false %}
{% assign size = false %}
