<section class="block-quality">
    <div class="block-quality__container container-m">
        <div class="block-quality__title">
            <h2 class="__head">{{ quality_head }}</h2>
            <p class="__lead">{{ quality_lead }}</p>
        </div>
        <div class="block-quality__group">
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-juice' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">Higher Yield</label>
                    <p class="__description">You get more juice for every piece of fruit, vegetable, and nut.</p>
                </div>
            </div>
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-time-light' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">Lasts Longer</label>
                    <p class="__description">Our juices taste fresh and lasts for up to 72 hours.</p>
                </div>
            </div>
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-sound-light' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">Quiet Motor</label>
                    <p class="__description">It’s not loud like cheaper juicers or blenders.</p>
                </div>
            </div>
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-warranty-light' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">10-Year Motor Warranty</label>
                    <p class="__description">Our long-lasting AC motor comes with a warranty.</p>
                </div>
            </div>
        </div>
        <div class="block-quality__group">
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-clean' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">Easy to Clean</label>
                    <p class="__description">Simple assembly and very easy to clean after use.</p>
                </div>
            </div>
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-bpa' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">Safe & 100% BPA Free</label>
                    <p class="__description">No sharp parts and made with 100% BPA-free components.</p>
                </div>
            </div>
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-pulp' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">Taste & Pulp Control</label>
                    <p class="__description">Comes with strainers and a control lever so you can customize your juice.</p>
                </div>
            </div>
            <div class="__holder fx-4">
                <i class="block-quality__icon icon">
                  {%- include 'icon' with 'icon-versatile' -%}
                </i>
                <div class="block-quality__info">
                    <label class="__label">Versatile</label>
                  <p class="__description">Makes sweet & savory <a href="https://www.hurom.com/pages/healthy-tasty-juice-recipes" rel="noopener noreferrer" target="_blank">juices</a> out of fruits, veggies, nuts, herbs, and seeds.</p>
                </div>
            </div>
        </div>
    </div>
</section>
