<!-- /snippets/modules/recipe-share.liquid -->

<div class="recipe-share">
	<span class="__title h5">Share</span>
	<ul class="__list">
		<li class="__item">
			<a class="__link is-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.hurom.com/pages/best-juice-recipes" target="_blank" alt="Facebook" onClick="ga('send', 'event', 'Recipe Landing Page', 'Clicked Share on Facebook', 'Referrer: Best Juice Recipes')">
				<span class="fallback">Facebook</span>
			</a>
		</li>
		<li class="__item">
			<a class="__link is-twitter" href="https://twitter.com/home?status=From%20fighting%20fatigue,%20to%20detoxifying,%20to%20strengthening%20your%20immune%20system,%20juice%20recipes%20for%20every%20occasion!%20http%3A//tinyurl.com/z9y9sz8" target="_blank" alt="Twitter" onClick="ga('send', 'event', 'Recipe Landing Page', 'Clicked Share on Twitter', 'Referrer: Best Juice Recipes')">
				<span class="fallback">Twitter</span>
			</a>
		</li>
		<li class="__item">
			<a class="__link is-pinterest" target="_blank" alt="Pinterest" onClick="ga('send', 'event', 'Recipe Landing Page', 'Clicked Share on Pinterest', 'Referrer: Best Juice Recipes')">
				<span class="fallback">Pinterest</span>
			</a>
		</li>
		<li class="__item">
			<a class="__link is-email" href="mailto:?&subject=Hurom's Best Juice Recipes&body=From%20fighting%20fatigue,%20to%20detoxifying,%20to%20strengthening%20your%20immune%20system,%20we%20have%20juice%20recipes%20for%20every%20occasion!" alt="Email" onClick="ga('send', 'event', 'Recipe Landing Page', 'Clicked Share by Email', 'Referrer: Best Juice Recipes')">
				<span class="fallback">Email</span>
			</a>
		</li>
	</ul>
</div>