<!-- /snippets/modules/landing-subscribe.liquid -->

<div class="landing-subscribe" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=120&txt=1440%C3%97900&w=1440&h=900)">
    <div class="container landing-subscribe__container">
        <div class="landing-subscribe__inner">
            <p class="h3 landing-subscribe__text">Enjoy <b>$40 off</b> your next purchase.</p>
            <form action="" class="landing-subscribe__form">
                <label for="" class="h4 landing-subscribe__label">Enter Your Email to Receive the Discount Code</label>
                <div class="landing-subscribe__form-inner">
                    <input type="email" required class="landing-subscribe__input">
                    <button class="btn button-primary">Submit</button>
                </div>
                {% include 'optin-surla-top' %}
            </form>
        </div>
    </div>
</div>
