<section class="wh-quote">
  <div class="wh-quote__container container">
    <div data-module="carousel">
      <div class="wh-quote__block js-slide">
        <p class="wh-quote__head">LOVE IT</p>
        <p class="wh-quote__content">This juicer is so quiet, and the pulp it extracts comes out almost completely dry! Cleaning is super easy. This juicer can juice ANYTHING!</p>
        <div class="wh-quote__user">
          <p class="wh-quote__name">Nichelle B.</p>
        </div>
      </div>
      <div class="wh-quote__block js-slide">
        <p class="wh-quote__head">Obsessed with my Hurom Slow Juicer!</p>
        <p class="wh-quote__content">Although I have a kitchen full of gadgets and toys galore, this is the first time I've ever really been dazzled by an appliance. This juicer is absolutely incredible and it is startlingly easy to use and easy to clean. The recipe book is great and very helpful, but it's also easy to make new juices and I have been blown away, again and again, by the fabulousness of this incredible juicer.</p>
        <div class="wh-quote__user">
          <p class="wh-quote__name">Lucy W.</p>
        </div>
      </div>
      <div class="wh-quote__block js-slide">
        <p class="wh-quote__head">Changed my LIFE!</p>
        <p class="wh-quote__content">I LOVE this juicer! It's so easy to operate and clean that I use it EVERYDAY.... sometimes 2 or 3 times a day. I've saved so much money (no longer buying juice from stores) and really enjoy making my own recipes. I even travel with my Hurom juicer when visiting friends and family so I can turn them onto juicing. Crazy, but that's how much I love it:)</p>
        <div class="wh-quote__user">
          <p class="wh-quote__name">Catherine B.</p>
        </div>
      </div>
    </div>
  </div>
</section>
