<!-- /templates/snippets/recipe-newsletter.liquid -->

<section class="recipe-newsletter section" data-module="ajax-newsletter">
    <div class="__container container-sl">
        <div class="recipe-newsletter__featured" data-view="fadein-left">
            <img class="__img" src="{{ 'recipe-newsletter-featured.jpg' | asset_url }}" alt="Sliced Fruits" title="Sliced Fruits">
        </div>
        <div class="recipe-newsletter__title" data-view="fadein-right">
            <h2 class="__head js-title h1">Get more healthy tips and tricks right in your inbox.</h2>
            <p class="__lead js-success">Sign up for the Hurom newsletter to receive news, offers, recipes and more!</p>
            <form id="mc-embedded-subscribe-form" class="recipe-newsletter__form js-form" action="//hurom.us10.list-manage.com/subscribe/post-json?u=e591cf0ac90ff25a1c5fcc40f&amp;SIGNUP=CustomLandingTop&amp;id=419d71ffe2&amp;c=?" method="post" name="mc-embedded-subscribe-form" data-ga-category="Recipe Landing Page Signup" data-ga-label="Referrer: Juice Recipes" data-fb-event="RecipeLandingSignup">
                <input id="mce-EMAIL" class="__field field" type="email" name="EMAIL" autocorrect="off" autocapitalize="off" placeholder="Email Address" required>
                <label class="sr-only" for="mce-EMAIL">Email Address</label>
                <input id="newsletter-group" type="checkbox" value="128" name="group[8861][128]" style="display:none;" checked>
                <label class="sr-only" for="newsletter-group">label</label>
                <button id="mc-embedded-subscribe" class="__button btn" type="submit" title="Sign up" name="subscribe">Sign up</button>
                <span class="__error error hidden js-error">{{ 'general.newsletter_form.error' | t }}</span>
            </form>
        </div>
    </div>
</section>
