.product-title__price .product-price, .title-text{
    color: #000000 !important;
}
.product-description-tabs__btn{
    color: #000000 !important;
}
h1.hero__title.hurom-h1 {
    color: red !important;
}

@media screen and (min-width: 769px){
    .product-panel__anchor{
        visibility: unset;
        opacity: unset;
        width: 20px;
        height: 20px;
        margin-top: 70px;
        margin-left: -5px;
        border: none;
    }
}

@media screen and (max-width: 479px){
    .product-inside__item{
        margin-top: 0;
        width: 33%;
    }
    .mobile-nav__product-list .mobile-nav__product{
        min-width: 95px;
    }
}