{%- comment -%}
  TODO: refactor, create a new vue component and register a couple computed properties
  for active/complete state
{%- endcomment -%}
<div class="plp-parts-navigation">
  <span
    class="plp-parts-navigation__item"
    :class="[{ 'is-active': !collectionProducts.length && !products.length }, { 'is-complete': collectionProducts.length || products.length }]"
  >
    1
  </span>
  <span
    class="plp-parts-navigation__item"
    :class="[{ 'is-active': collectionProducts.length }, { 'is-complete': products.length }]"
  >
    2
  </span>
  <span
    class="plp-parts-navigation__item"
    :class="[{ 'is-active': products.length }]"
  >
    3
  </span>
</div>
