<div class="quiz-header header" data-module="quiz-header">
  <div class="quiz-header__container container-sp">
    <a class="quiz-header__back-link" href="/">
      {%- include 'icon' with 'icon-back' -%}
      Back
    </a>

    <a class="quiz-header__logo" href="/">
      {%- include 'logo' with 'logo-name' -%}
    </a>

    <a class="quiz-header__retake-link" href="/pages/quiz" v-if="resultsState" @click.prevent="retakeQuiz">
      {%- include 'icon' with 'icon-refresh' -%}
      Retake
    </a>
  </div>
</div>

