<!-- /snippets/modules/seasons-title.liquid -->

{% assign season = season | default: 'default' %}
{% assign title = title | default: 'Title' %}
{% assign lead = lead | default: 'Lead Text' %}

<div class="seasons-title is-{{ default }}">
	<h2 class="seasons-title__head h1">{{ title }}</h2>
	<p class="seasons-title__lead">{{ lead }}</p>
</div>

{% assign season = false %}
{% assign title = false %}
{% assign lead = false %}