{%- capture grid_items -%}
  {%- render 'plp-parts-product-card',
    attributes: '
      v-for="product in collectionProducts"
      :key="product.node.id"
      @product-click="handleProductClick"
    ',
    featured_image_src: 'product.node.images.edges[0].node.transformedSrc',
    title: 'product.node.title',
    url: 'product.node.onlineStoreUrl',
    handle: 'product.node.handle',
    link_click_handler: "$emit('product-click', handle, title, $event)",
    is_vue: true,
    class: 'plp-parts-grid__item'
  -%}
{%- endcapture -%}

<div
  v-if="collectionProducts.length && !products.length"
  class="plp-parts-product-list"
>
  {%- render 'plp-parts-grid',
    grid_items: grid_items
  -%}
</div>
