<!-- /snippets/modules/page-hero-intro.liquid -->

<section class="hero-intro hero-intro--text" data-module="landing-hero-intro">
    <div class="container hero-intro__container">
        <div class="hero-intro__images">
            <figure class="hero-intro__image" style="background-image:url({{ 'HeroImage.jpg' | asset_url }})"></figure>
        </div>
        <div class="hero-intro__inner">
            <div class="hero-intro__content">
                <h1 class="h1 hero-intro__headline">Since 1974, Hurom has been the lifestyle leader and global pioneer in its field.</h1>
            </div>
        </div>
    </div>
</section>
