<!-- /snippets/modules/product-reviews.new.liquid -->

<section id="product-reviews" class="product-reviews {{ class }}">
  <div class="product-reviews__container container-m">
  	<h2 class="product-reviews__head align-c">{{ 'products.reviews.title' | t }}</h2>
		<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
</section>
