<!-- /snippets/modules/about-single.liquid -->
<section class="about-single">
    <div class="about-single__container container-xl">
        <img class="about-single__image" src="{{ 'World.svg' | asset_url }}" alt=""/>
        <h2 class="about-single__headline">Happy Customers Around the World</h2>
        <p class="about-single__description">85 countries and counting! Hurom continues to contribute to the world's expanding juice and smoothie culture as a premium brand. Hurom headquarters and manufacturers are in South Korea</p>
    </div>
</section>
