<!-- /templates/blog.liquid -->

{%- assign description = blog.metafields.accentuate.blog_description -%}
{%- if description == blank -%}
  {%- assign description = 'press.general.description' | t -%}
{%- endif -%}
<div class="press page">
    <div class="press__container">
        <header class="page-title" data-view="fadein-down">
            <h1 class="page-title__head">{{ blog.title }}</h1>
            <p class="page-title__lead">{{ description }}</p>
        </header>

        <section class="page-content" data-view="fadein-up">
            {% include 'press-grid' %}
        </section>
    </div>
</div>
{%- assign description = nil -%}
