<div class="index page" id="best-cold-press">
  {% include 'page-hero',
    hero_style: 'cold-press',
    hero_head: 'We make the world’s best cold-press juicers.',
    hero_lead: 'Hurom has over 40 years of experience in juicer design and innovation and over 1+ million juicers sold globally.'
  %}

  {%- assign sup = 'Why Choose a Hurom?' -%}
  {%- assign head = 'Healthy, Superior Tasting Juice' -%}
  {%- assign lead = 'Hurom uses an auger to squeeze out juice instead of shredding fruits and vegetables with high-speed blades like cheaper centrifugal juicers. This natural motion minimizing damage to ingredients, keeping natural taste and nutrition intact.' -%}
  {%- assign item_sub_1 = 'Juice by Hurom' -%}
  {%- assign item_content_1 = 'In this microscopic close up of Hurom-made tomato juice, you can see how the juice retains its natural color and cellular structure.' -%}
  {%- assign item_sub_2 = 'Juice by Centrifugal Juicers' -%}
  {%- assign item_content_2 = 'Centrifugal juicers heat up and oxidize the tomato juice with high speed blades, reducing nutrients and breaking down the form and color.' -%}

  {% include 'block-difference' %}

  {%- assign sup = nil -%}
  {%- assign head = nil -%}
  {%- assign lead = nil -%}
  {%- assign item_sub_1 = nil -%}
  {%- assign item_content_1 = nil -%}
  {%- assign item_sub_2 = nil -%}
  {%- assign item_content_2 = nil -%}

  {%- assign quality_head = 'Why You’ll Love Your Hurom Juicer' -%}
  {%- assign quality_lead = 'Hurom uses an auger to squeeze out juice instead of shredding fruits, minimizing damage to ingredients, and keeping natural taste and nutrition intact. Not only are our juicers made of high quality materials like ultem, tritan, and stainless steel, here are eight other reasons to love owning a Hurom.' -%}

  {% include 'block-quality' %}

  {%- assign quality_head = nil -%}
  {%- assign quality_lead = nil -%}

  {% include 'block-critics' %}

  {% include 'block-juicers' %}

  {% include 'block-newsletter' %}

  {% include 'block-instagram' %}
</div>
