<div class="compare-juicers page">
    <div class="compare-juicers__container">
        <header class="page-title" data-view="fadein-down">
            <h1 class="page-title__head">{{ page.title }}</h1>
            <p class="page-title__lead">Select at least 2 columns below to compare side-by-side.</p>
        </header>
        <section class="page-content">
          {% include 'comparison-table' %}
          {% comment %}
            Uncomment when ready to use sections instead of hardcoded comparison table.
          {% endcomment %}
        	{% comment %}{% section 'comparison-table' %}{% endcomment %}
        </section>
    </div>
</div>

<style>
  .cd-table-navigation a {
    background-image: url({{ 'ico-big-arrow.svg' | asset_url }});
  }
</style>
