<!-- /templates/page.surla.liquid -->

{% include 'landing-hero-intro' %}

{% include 'landing-three-up-intro' %}

{% unless settings.country == 'CA' %}
  <section class="recipe-newsletter section landing-subscribe">
      <figure class="landing-subscribe__image landing-subscribe__image--left"></figure>
      <figure class="landing-subscribe__image landing-subscribe__image--right" style="background-image: url('{{ 'offer-image-2.jpg' | asset_url }}')"></figure>
      <div class="container landing-subscribe__container">
          <div class="landing-subscribe__inner">
              <p class="js-title h3 landing-subscribe__text">Enjoy <b>$30 off</b> your next purchase.</p>
              <div id="om-gddbcb264lgrgqgl-holder"></div>
          </div>
      </div>
  </section>
{% endunless %}

{% include 'landing-featured-recipes' %}

{% include 'landing-three-up-grid' %}

{% unless settings.country == 'CA' %}
  <section class="recipe-newsletter section hero-newsletter">
  	<div class="container hero-newsletter__container">
  		<figure class="hero-newsletter__image" style="background-image:url({{ 'hero-newsletter.png' | asset_url }})"></figure>
  		<div class="hero-newsletter__content">
  			<div class="hero-newsletter__form">
  				<div id="om-u4b62ruxzna5pbgj-holder"></div>
  			</div>
  		</div>
  	</div>
  </section>
{% endunless %}


{% include 'landing-hurom-sprites' %}
