<!-- /templates/product.new.liquid -->

{% comment %} Settings {% endcomment %}
{% assign module = product.metafields.accentuate %}
{% assign preorder = module.product_pre_order_enable %}
{% assign preorder_limit = module.product_pre_order_limit | plus: 0 %}
{% assign product_notification = module.product_notification %}

{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product page" itemscope itemtype="http://schema.org/Product">
    {% render 'product-nav' %}

    {% include 'product-purchase-new' %}

    {% include 'product-description-new', classes: 'section-bottom' %}

    {% include 'product-tab' %}

    {% unless product.metafields.accentuate.disable_design %}
      {% section 'product-design' %}
    {% endunless %}

    {% unless product.type contains 'Accessory' %}
      {% include 'product-media',
        class: 'section-bottom' %}
    {% endunless %}

    {% unless product.metafields.accentuate.disable_reviews %}
      {% include 'product-reviews-new',
        class: 'section-bottom' %}
    {% endunless %}

    {% unless product.metafields.accentuate.disable_action %}
      {% section 'product-action' %}
    {% endunless %}

    {% unless product.metafields.accentuate.disable_featured_accessories %}
      {% unless product.type contains 'Accessory' %}
        {% include 'product-featured',
          class: 'section-bottom' %}
      {% endunless %}
    {% endunless %}
</div>
