{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_cta_text = mod_cta_text | default: blank -%}
{%- assign mod_cta_url = mod_cta_url | default: blank -%}
{%- assign mod_background = mod_background | default: blank -%}
{%- assign mod_image_src = mod_image_src | default: blank -%}
{%- assign mod_image_text = mod_image_text | default: blank -%}
{%- assign mod_image_src_media = mod_image_src_media | default: blank -%}
{%- assign mod_video_url = mod_video_url | default: blank -%}
{%- assign mod_video_intermediate_url = mod_video_intermediate_url | default: blank -%}
{%- assign mod_video_mobile_url = mod_video_mobile_url | default: blank -%}

<div class="callout">
  <div class="callout__featured ratio">
    {%- if mod_background == 'image' -%}
      {%- include 'image',
        mod_class: 'callout__image',
        mod_src: mod_image_src,
        mod_src_media: mod_image_src_media,
        mod_text: mod_image_text,
        mod_loader: false -%}
    {%- else -%}
      {%- include 'video' with mod_video_url,
        mod_class: 'callout__video',
        mod_video_intermediate: mod_video_intermediate_url,
        mod_video_mobile: mod_video_mobile_url -%}
    {%- endif -%}
  </div>

  {%- if mod_text != blank -%}
    <div class="callout__container">
      <h2 class="callout__title hurom-h2">
        {{- mod_text -}}
      </h2>

      {%- if mod_cta_text != blank -%}
        <a class="callout__cta btn" href="{{ mod_cta_url }}" title="{{- mod_cta_text -}}">
          {{- mod_cta_text -}}
        </a>
      {%- endif %}
    </div>
  {%- endif -%}
</div>

{%- assign mod_text = nil -%}
{%- assign mod_cta_text = nil -%}
{%- assign mod_cta_url = nil -%}
{%- assign mod_background = nil -%}
{%- assign mod_image_src = nil -%}
{%- assign mod_image_text = nil -%}
{%- assign mod_image_src_media = nil -%}
{%- assign mod_video_url = nil -%}
{%- assign mod_video_intermediate_url = nil -%}
{%- assign mod_video_mobile_url = nil -%}
