<div class="futurepay-item" data-view="fadein-up" data-view-delay="{{ delay }}s">
  <div class="futurepay-item__holder">
    <h2 class="futurepay-item__title">Pay as little as $25/month</h2>
    <img class="futurepay-item__featured" src="{{ 'futurepay.jpg' | asset_img_url: '190x', format: 'pjpg' }}" alt="FuturePay" title="FuturePay">
    <p class="futurepay-item__content">Apply and checkout in seconds</p>
    <a class="futurepay-item__btn btn-s is-green" href="/pages/futurepay-financing-option" title="Learn More">Learn More</a>
  </div>
</div>
