.order-details__head {
	text-align: center;
}
.order-nav {
	margin: 0 0 15px;
	@media (--xs) {
		margin: 0 0 20px;
	}
}
.order-nav__list {
	@extend %clearlist;
}
.order-nav__item {
	@extend %clearitem;
	@extend %ff-azo-light;
	font-size: 1rem;
	&:first-child {
		float: left;
	}
	&:last-child {
		float: right;
	}
}
.order-nav__return-link {
	@extend %ico-arw-left;
	&:after {
		float: left;
		margin: 2px 6px 0 0;
	}
}
.order-status {
	background: none no-repeat scroll 0 0 var(--light-grey);
	margin: 0 0 20px;
	padding: 10px 15px;
	@media (--xs) {
		margin: 0 0 25px;
		padding: 15px 30px;
	}
	@media (--s) {
		margin: 0 0 30px;
		padding: 15px 50px;
	}
}
.order-status__list {
	@extend %clearlist;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: column;
	@media (--s) {
		flex-direction: row;
	}
}
.order-status__item {
	@extend %clearitem;
	@extend %ff-azo-light;
	font-size: 0.95rem;
	line-height: 26px;
}
.order-status__tracking {
	flex: 1 0 auto;
	@media (--s) {
		flex: 0 1 50%;
	}
	@media (--l) {
		flex: 0 1 30%;
	}
}
.order-status__shipping {
	flex: 1 0 auto;
	@media (--s) {
		flex: 0 1 50%;
	}
	@media (--l) {
		flex: 0 1 30%;
		text-align: center;
	}
}
.order-status__payment {
	flex: 1 0 auto;
	@media (--s) {
		flex: 0 1 50%;
	}
	@media (--l) {
		text-align: center;
		flex: 0 1 20%;
	}
}
.order-status__total {
	flex: 1 0 auto;
	@media (--s) {
		flex: 0 1 50%;
	}
	@media (--l) {
		text-align: right;
		flex: 0 1 20%;
	}
}
.order-status__label {
	@extend %ff-azo;
}
.order-sum {
	width: 100%;
	@media (--s) {
		margin: 0 0 0 68%;
		width: 32%;
	}
	@media (--l) {
		margin: 0 0 0 76%;
		width: 24%;
	}
}
.order-sum__list {
	@extend %clearlist;
}
.order-sum__item {
	@extend %clearitem;
	@extend %ff-azo-light;
	padding: 4px 10px;
	&:first-child {
		padding-top: 15px;
	}
	&:last-child {
		@extend %ff-azo;
		border-top: 1px solid var(--grey);
		margin: 15px 0 0;
		padding-top: 15px;
	}
}
.order-sum__label {
	float: left;
	font-size: 1rem;
	width: 70%;
}
.order-sum__amount {
	display: block;
	float: right;
	font-size: 1rem;
	text-align: right;
	width: 30%;
}
.order-addresses {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	border-top: 1px solid var(--grey);
	margin: 15px 0 0;
	padding: 20px 10px 0;
	flex-direction: column;
	@media (--xs) {
		align-items: center;
		margin-top: 30px;
		padding-top: 30px;
		flex-direction: row;
	}
}
.order-billing,
.order-shipping {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1 0 auto;
  flex-direction: column;
  @media (--xs) {
    flex: 0 1 40%;
  }
}
.order-billing {
	margin: 0 0 15px;
	@media (--xs) {
		margin: 0;
	}
}
.order-billing__head,
.order-shipping__head {
  margin-bottom: 10px;
}
.order-billing__list,
.order-shipping__list {
  @extend %clearlist;
}
.order-billing__item,
.order-shipping__item {
  @extend %clearitem;
  @extend %ff-azo-light;
  font-size: 1rem;
  line-height: 26px;
  &:first-child {
    @extend %ff-azo;
  }
}



