{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_icons = mod_icons | default: blank -%}

{%- if mod_text != blank -%}
  <section class="text-focus bg-very-light-grey align-c">
    <div class="text-focus__container container-sp">
      {%- if mod_title != blank -%}
        <h3 class="label text-focus__title">
          {{- mod_title -}}
        </h3>
      {%- endif -%}

      <p class="hurom-h2 text-focus__text">
        {{- mod_text -}}
      </p>

      {%- if mod_icons != blank -%}
        <ul class="text-focus__icons">
          {%- for icon in mod_icons -%}
            {%- assign icon_title = icon.settings.text -%}
            {%- assign icon_file = icon.settings.icon -%}

            {%- if icon_file != blank -%}
              <li class="text-focus__icon">
                <img class="text-focus__icon-image" src="{{ icon_file | file_url }}" alt="">

                {%- if icon_title != blank -%}
                  <span class="text-focus__icon-title">
                    {{- icon_title -}}
                  </span>
                {%- endif -%}
              </li>
            {%- endif -%}

            {%- assign icon_title = nil -%}
            {%- assign icon_file = nil -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </section>
{%- endif -%}

{%- assign mod_title = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_icons = nil -%}
