<!-- /snippets/modules/about-two-up.liquid -->

<section class="about-two-up">
    <div class="about-two-up__container container--about">
        <h1 class="about-two-up__headline">What We Believe In</h1>
        <div class="about-two-up__inner">
            <div class="about-two-up__list">
                <div class="about-two-up__item">
                    <img class="about-two-up__item-image" src="{{ 'ContinuousInnovation.svg' | asset_url }}" alt=""/>
                    <div class="about-two-up__item-content">
                        <h3 class="about-two-up__title">Quality Construction</h3>
                        <p class="about-two-up__description">We deeply care about the quality of our products. Our R&D team of more than 70 designers, engineers, and nutritionists carefully craft our products and recipes with the finest materials and ingredients using a precise production process.</p>
                    </div>
                </div>
                <div class="about-two-up__item">
                    <img class="about-two-up__item-image" src="{{ 'CustomerSatisfaction.svg' | asset_url }}" alt=""/>
                    <div class="about-two-up__item-content">
                        <h3 class="about-two-up__title">Customer Satisfaction</h3>
                        <p class="about-two-up__description">We strive to achieve a 100% customer satisfaction rate. We make sure that our products will deliver excellent performance, but we also provide substantial warranty to cover any wear and tear.</p>
                    </div>
                </div>
                <div class="about-two-up__item">
                    <img class="about-two-up__item-image" src="{{ 'HealthyFamilies.svg' | asset_url }}" alt=""/>
                    <div class="about-two-up__item-content">
                        <h3 class="about-two-up__title">Continous Innovation</h3>
                        <p class="about-two-up__description">We are committed to continuously refine our technology and products to help our customers accomplish a healthier diet every day.</p>
                    </div>
                </div>
            </div>
            <div class="about-two-up__figure">
                <img class="about-two-up__image"  src="{{ 'WhatWeBelieveIn.jpg' | asset_url }}" alt=""/>
            </div>
        </div>
    </div>
</section>
