.hero-intro.hero-intro--text {
  background-color: var(--black)
}

.hero-intro__container {
  min-height: 568px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  @media (--xs) {
    min-height: 500px;
  }
  @media (--m) {
    min-height: 768px;
  }
  a {
    text-decoration: none;
  }
  .hero-intro--text & {
    min-height: auto;
  }
}

.hero-intro__images {
  @add-mixin absolute-full;

  .hero-intro--text & {
    @add-mixin ratio 320, 290;
    max-height: 640px;
    @media (--xs) {
      @add-mixin ratio 768, 640;
    }
    @media (--xl) {
      @add-mixin ratio 1440, 640;
    }
    &:after {
      @add-mixin absolute-full;
      content: '';
      background: linear-gradient(to top, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0));;
    }
  }
}

.hero-intro__image {
  position: absolute;
  margin: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--tomato1 {
    top: 10%;
    width: 33px;
    height: 43px;
    @media (--xs) {
      top: 15%;
      left: 0;
      width: 52px;
      height: 72px;
      display: block;
      transform: translateX(60%);
    }
    @media (--m) {
      top: 30%;
      left: 10%;
      width: 84px;
      height: 118px;
      transform: none;
    }
  }

  &--tomato2 {
    display: none;
    @media (--xs) {
      bottom: 13%;
      right: 25%;
      width: 42px;
      height: 42px;
      display: block;
    }
    @media (--m) {
      width: 81px;
      height: 84px;
    }
  }

  &--hummus {
    top: 0;
    left: 50%;
    width: 110px;
    height: 110px;
    transform: translate(-70%, -50%);
    @media (--xs) {
      left: 50%;
      right: auto;
      width: 183px;
      height: 184px;
      transform: translate(-74.6%, -60%);
    }
    @media (--m) {
      width: 305px;
      height: 307px;
      transform: translate(-50%, -60%);
    }
  }

  &--salad {
    bottom: 0;
    left: 0;
    width: 85px;
    height: 82px;
    transform: translate(-23%, 23%);
    @media (--xs) {
      transform: translate(23%, 25%);
      width: 141px;
      height: 136px;
    }
    @media (--m) {
      left: 5%;
      width: 235px;
      height: 226px;
      transform: translateY(30%);
    }
  }

  &--pasta {
    bottom: 0;
    right: 0;
    width: 157px;
    height: 156px;
    transform: translate(50%, 10%);
    @media (--xs) {
      bottom: 50%;
      width: 261px;
      height: 260px;
      transform: translate(60%, 50%);
    }
    @media (--m) {
      width: 435px;
      height: 433px;
      transform: translate(30%, 50%);
    }
  }

  .hero-intro--text & {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.hero-intro__inner {
  @add-mixin absolute-full;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  @media (--xs) {
    padding: 30px;
  }
}
.hero-intro__content {
  max-width: 635px;
}
.hero-intro__headline {
  margin-bottom: 25px;
  svg {
    max-width: 86px;
    @media (--xs) {
      max-width: 140px;
    }
  }
  img {
    display: inline-block;
    margin: 0 0 -8px 5px;
    max-width: 134px;
    @media (--xs) {
      max-width: 100%;
    }
  }

  .hero-intro--text & {
    @extend .h1-about;
    margin: 0;
    color: var(--white);
  }
}
.hero-intro__description {
  @extend %h3;
  margin-bottom: 20px;
  @media (--xs) {
    margin-bottom: 35px;
  }
}
.button-primary {
  background: var(--green);
  color: white;
}
.button-link {
  background: none;
  text-decoration: underline !important;
  color: black;
  &:hover {
    color: black !important;
    background: none !important;
    opacity: 0.7;
  }
  @media (--xs-down) {
    padding: 10px 8px;
  }
}
.button-secondary {
  position: absolute;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  @media (--xs) {
    top: 30px;
    right: 30px;
  }
}
.hero-intro__arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px;
  position: absolute;
  bottom: 30px;
  transform: rotate(45deg);
  cursor: pointer;
  @media (--s) {
    bottom: 40px;
  }
}
.hero-intro__x {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 8px;
  @media (--xs) {
    width: 26px;
    height: 26px;
    margin: 0 15px;
  }
  &:before,
  &:after {
    content: '';
    width: 18px;
    height: 2px;
    background: black;
    display: block;
    border-radius: 2px;
    @media (--xs) {
      width: 3px;
      height: 30px;
      border-radius: 3px;
    }
  }
  &:before {
    transform: rotate(45deg) translate(4px, 5px);
    @media (--xs) {
      transform: rotate(45deg) translate(7px, -8px);
    }
  }
  &:after {
    transform: rotate(-45deg) translate(-4px, 3px);
    @media (--xs) {
      transform: rotate(-45deg) translate(30px, -14px);
    }
  }
}

.hero-intro--text {
  @extend %about-bottom;
}
