{% assign featured = color | prepend: 'holidays-main-featured-' | append: '.jpg' %}

{% case color %}
	{% when 'orange' %}
		{% assign number = '1' %}
	{% when 'blue' %}
		{% assign number = '2' %}
	{% when 'green' %}
		{% assign number = '3' %}
	{% when 'red' %}
		{% assign number = '4' %}
	{% when 'gold' %}
		{% assign number = '5' %}
	{% when 'white' %}
		{% assign number = '6' %}
{% endcase %}

<section class="hol-hero js-lazy" data-src="{{ featured | asset_img_url: '2200x', format: 'pjpg' }}">
	<span class="hol-number">0{{ number }}</span>
	<span class="hol-title h6">Detox & Decorate</span>
	<a class="hol-scroll is-{{ color }}" href="#" title="Scroll">
		<span class="hol-scroll__arrow">
			{% include 'ico-holidays', icon: 'arrow' %}
		</span>
		<span class="hol-scroll__ribbon">
			{% include 'ico-holidays', icon: 'ribbon' %}
		</span>
		<span class="hidden">Scroll</span>
	</a>
</section>

{% assign number = false %}
{% assign featured = false %}
