{%- assign mod_label = mod_label | default: blank -%}
{%- assign mod_script = mod_script | default: blank -%}

<div class="instagram-feed">
  {%- if mod_label != blank -%}
    <div class="instagram-feed__label">
      {%- include 'icon' with 'icon-instagram' -%}
      <span class="instagram-feed__text" title="{{- mod_label -}}">
        {{- mod_label -}}
      </span>
    </div>
  {%- endif -%}

  {{- mod_script -}}
</div>

{%- assign mod_label = nil -%}
{%- assign mod_script = nil -%}
